* {
    box-sizing: border-box;
}

body {
    min-height: 100dvh; 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    place-items: center;

    background: linear-gradient(135deg, #ffffff, #000000);
    background-repeat: no-repeat;
    background-size: cover;
}
.glass {
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 20px;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);

    color: rgba(0, 0, 0, 0.4);
}
.output-container {
    width: 100%;
    min-height: 60px;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);

    word-break: break-word;
}
.input-group {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.input-group input {
    width: 100%;
    height: 50px;
    padding: 0 20px;

    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.3);

    background: rgba(255,255,255,0.15);
    font-size: 16px; /* verhindert iOS Zoom */
    outline: none;
}

.input-group label {
    position: absolute;
    left: 20px;
    top: 15px;
    transition: 0.3s ease;
    pointer-events: none;
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 15px;
    font-size: 12px;
    background: rgba(145,145,145,0.3);
    padding: 2px 8px;
    border-radius: 8px;
}
.convertBtn {
    width: 100%;
    height: 50px;
    margin-top: 20px;

    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.3);

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    font-size: 16px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.327);
    
    appearance: none;
    -webkit-appearance: none;
}









